extends layout

block content
  .main-container
    .about-container
      h2 About Paparanni photo blog
      p Hello! I’m Ran and I enjoy taking pictures. I have been taking pictures with film cameras, toy cameras, old digital cameras and cell phones. I want to share pictures on everything from big trips to during ordinary life events.
      p Please enjoy! <br /><br /><br />
      p Instagram - @maybesummer
      p Email - paparannipdx@gmail.com
