extends layout

block content
  .main-container
    .about-container
      p Hello! I’m Ran and I enjoy taking pictures. I have been taking pictures with film cameras, toy cameras, old digital cameras and cell phones. I want to share pictures on everything from big trips to during ordinary life events. Please enjoy!
      a(href='https://www.instagram.com/maybesummer/?hl=en')
        h3
          i.fa.fa-instagram 
            .font follow | @maybesummer
      a(href='mailto:paparannipdx@gmail.com')
        h3 
          i.fa.fa-envelope 
            .font email | paparannipdx@gmail.com
