extends layout

block content
  .main-container
    .error-container
      h3 You've come the wrong way...
      p.lead.m-t-2= message 
      #{error}
      br
      a.btn(href='/') Get me outta here!
