doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name="GOOGLEBOT" content="NOARCHIVE")
  title Paparanni Photo Blog | #{title}
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Cabin|Dosis|Economica|Fjalla+One|Josefin+Slab|Jura|Poiret+One|Poppins|Quicksand|Rajdhani|Titillium+Web|Ubuntu')
  link(rel='stylesheet', href='/stylesheets/style.css')

body
  // load navbar.pug
  include navbar

  // content block
  block content

  // footer
  .footer
    p.footer-copy &copy; 2017
    p.footer-logo.hidden
      small 
        a(href="http://ididnotknowicoulddothat.github.io") did you know you could do that?

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js')