nav.navbar
  a.nav-item(href='/')
    img.camera-logo(src='http://paparanni.com/images/camera_logo.svg')
  a.nav-item(href='/')
    img.name-logo(src='http://paparanni.com/images/name_logo.svg')
  .nav-item
    a(href='about') About
  if currentUser
    a.nav-item(href='upload') Upload Photos
    a.nav-item(href='delete') Delete Photos
    a(href='profile')
      img.avatar.hidden-xs(src='/images/avatar.png', alt='avatar')
    a.nav-item(href='/logout') Log out
