nav.navbar
  a.nav-item.camera-link(href='/')
    img.camera-logo(src= '../images/camera_logo.svg' alt='Logo of a Camera')
  a.nav-item.name-link(href='/')
    img.name-logo(src= '../images/name_logo.svg' alt='Logo of the name Paparanni')
  .nav-item.about-link
    a(href='about') About
  if currentUser
    a.nav-item(href='upload') Upload Photos
    a.nav-item(href='delete') Delete Photos
    a.nav-item(href='profile')
      img.avatar.hidden-xs(src='/images/avatar.png', alt='avatar')
    a.nav-item(href='/logout') Log out
