extends layout

block content
  .main-container
    .row
      .col.upload-container
        if msg
          p #{msg}
        h2.display-4.m-b-2 Upload Photos
        form(method='POST' action='/upload' enctype='multipart/form-data')
          input.form-control(type='file' placeholder='select a file' name='upl')
          input.form-control(type='text' placeholder='enter tags' name='tags')
          button.btn.btn-primary(type='submit') Upload Image
