
/* Base Styles */
* {
	box-sizing: border-box;
	border-radius: 0;
	font-family: 'Quicksand', sans-serif;
	/* align-items: center;
    align-self: center;
    justify-content: center;
	text-align: center; */
}

body { 
	background: #fff;
	text-align: center;
}

h3 {
	margin-top: 35px;
}

p {
	color: #3c3c3c;
	max-width: 70%;
	text-align: center;
	margin: 5px auto;
	font-family: 'Quicksand', sans-serif;
	padding: 5px;	
}

.caption-text {
	color: #fff;
}

img { 
	object-fit: contain;
}

a {
	color: initial;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}

a:hover {
	/* color: rgba(49,176,213, .7); */
}

.fa {
	font-size: 110%;
	display: flex;
	align-items: center;
	align-self: center;
	margin: -5px;
}

i::before {
	padding: 8px;
}

/* Component Styles */
.container {
	max-width: 100%!important;
}

.navbar {
	margin: 0;
	width: 100%;
	height: 104px;
	background: #3c3c3c;
	display: flex;
	justify-content: space-between;
}

.nav-item {
	display: flex;
	align-items: center;
	padding: 2px;
}

.nav-item,
.nav-item a {
	color: #ffe;
}

.camera-logo {
	height: 45%;
	max-width: 130px;
}

.name-logo {
	height: 85%;
}

.about-link {
	flex: 1 50%;
	display: flex;
	justify-content: flex-end;
}

.clearfix {
	content: "";
	clear: both;
}

.admin {
	visibility: hidden;
	display: none;
}

.main-container {
	min-height: 97vh;
	min-height: calc(98vh - 104px);
}
	
.row {
	padding: 3px;
	max-width: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* .col {
	flex: 1 99%;
} */

.photos-container {
	display: flex;
	flex-wrap: wrap;
	flex: 5 1 auto;
}

.tags-container {
	padding: 5px;
}

.profile h1 {
	color: #3c3c3c;
}

.about-container {
	padding: 80px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	align-self: center;
}

.social-container {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	align-self: center;	
}

.upload-container,
.profile-container,
.error-container {
	padding: 50px;
}

.font {
	font-family: 'Quicksand', sans-serif;	
}

ul,
.photos-container {
	list-style: none;
}

li.photo {
	padding: 5px;
}

.tags {
	padding-top: 20px;
}

#tagInput {
	visibility: hidden;
	display: none;
}

#lg-fade {
	display: flex;
	/* align-items: center; */
	flex-wrap: wrap;
}

#lg-fade > a {
	padding: 5px;
	min-width: 0; /* flexbox to contain image size */
	max-height: 205px;
	flex: 1 1 95%;
	overflow: hidden;
}

#lg-fade > a > img {
	max-width: 100%; 
	width: 100%;
	height: auto;
	/* max-height: 250px; */
}

.filter-buttons {
	display: flex;
	text-align: center;
	align-items:center;
	justify-content: center;
	align-self: center;
	margin-top: 20px;
}

.footer {
	margin: 0;
    width: 100%;
    height: 104px;
    padding: 1rem 0;
	background: #3c3c3c;
	display: flex;
	text-align: center;
	align-items:center;
	justify-content: center;
	align-self: center;
}

.footer p {
	color: #ffe;	
}

/* Modifier Styles */

.hidden {
	visibility: hidden;
	display: none;
}

/* Button Styles */

.btn {
	background-color: #fbffed;
	border: 1px solid #3c3c3c;
	text-transform: uppercase;
	font-size: .95rem;
	margin: 2px;
	cursor: pointer;
	border-radius: 4%;
	padding: 8px;
	font-weight: 400;
}

.btn-secondary:hover {
	background-color: #575757;
	border-color: #575757;
	color: #fbffed;
}

.btn-outline-secondary {
	background-color: #3c3c3c;
	border-color: #3c3c3c;
	color: #fbffed;
}
.btn-outline-secondary:hover {
	background-color: #fbffed;
	border-color: #3c3c3c;
	color: #3c3c3c;
}

/* Icon Styles */

.icn-logo {
	margin: 3px 3px 0;
	float: left;
}

.icn-person {
	font-size: 50px;
	border-radius: 50%;
	border: solid 2px;
	padding: .5rem;
}

.avatar {
	width: 35px;
	margin-right: 18px;
	border: solid 2px rgba(255,255,255, .75);
}

.options {
	display: none;
}

.list-group-item:hover .options {
	display: block;
}

.options .material-icons {
	font-size: 1.25rem;
	cursor: pointer;
	margin-left: 1rem;
	color: rgba(0,0,0, .35);
}

.options .material-icons:hover {
	color: initial;
}

.favorite-book {
  margin-top: 30px;
}

/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
}

@media (min-width: 48em) { /* Typically 768px */
	#lg-fade > a {
		max-width: 50%;
	}
	.nav-item > a {
		padding-right: 17px;		
	}
	.row { 
		flex-wrap: nowrap;
	}
	.nav-item {
		padding: 7px 14px;
		justify-content: flex-end;
	}		
}

@media (min-width: 75em) { /* 1200 */
	#lg-fade > a {
		max-width: 33%;
	}
	.tags-container {
		padding: 15px;
	}
	.nav-item {
		padding: 7px 20px;
	}
	.admin {
		visibility: visible;
		display: flex;
	}	
}

@media (min-width: 120em) { /* 1920 */
	#lg-fade > a {
		max-width: 25%;
	}
	.tags-container {
		padding: 25px;
	}	
}
