// ======================================
//  Layout Container Styles
// ======================================
// Main content
.main {
  @include flexy($disp: flex, $wrap: wrap);
  @include center;
  background-color: $color-accent;
  @include mq('s') {
  }
  @include mq('m') {
  }
  @include mq('l') {
  }
}

.container {
	max-width: 100%!important;
}

.navbar {
	margin: 0;
	width: 100%;
	height: 104px;
	background: #3c3c3c;
	@include flexy($disp: flex, $dir: null, $wrap: null, $justify: space-between, $width: null);
}

.nav-item {
	padding: 7px;
	text-align: center;
	@include flexy($disp: flex, $dir: null, $wrap: null, $justify: null, $width: null);
	@include align-content(center);
	@include align-items(center);
	@include align-self(center);
	@include mq('m') {
		@include flex-basis(10%);
	}
	@include mq('l') {
		padding: 10px;
		@include flex-basis(8%);
	}
	@include mq('xl') {
		@include flex-basis(6%);
	}
}

.nav-item,
.nav-item a {
	color: #ffe;
}

.camera-logo {
	height: 70%;
	@include mq('m') {
		height: 60%;
	}
}

.name-logo {
	height: 90%;
}

.name-link {
	@include mq('m') {
		@include flex-basis(15%);
		height: 85%;
	}
}

.about-link {
	@include flex(1 70%);
	@include flexy($disp: flex, $dir: null, $wrap: null, $justify: flex-end, $width: null);
	@include flex-basis(70%);
}

.admin {
	visibility: hidden;
	display: none;
	@include mq('l') {
		visibility: visible;
		display: block;
		@include flexy($disp: flex, $dir: null, $wrap: null, $justify: null, $width: null);
	}
}

.main-container {
	min-height: 97vh;
	min-height: calc(98vh - 104px);
}
	
.row {
	padding: 3px;
	max-width: 100%;
	overflow: hidden;
	@include flexy($disp: flex, $dir: null, $wrap: wrap, $justify: space-around, $width: null);
	@include mq('s') {
		@include flex-wrap(nowrap);
	}
}

.photos-container {
  @include flexy($disp: flex, $dir: null, $wrap: wrap, $justify: null, $width: null);
	@include flex(1 70%);
	@include flex-basis(70%);
	padding: 3px;	
}

.tags-container {
	@include flex(1 29%);
	@include flex-basis(29%);
	padding: 3px;
	@include mq('s') {
		padding: 15px;		
	}
	@include mq('xl') {
		padding: 25px;		
	}
}

.about-container {
	padding: 80px;
    @include flexy($disp: flex, $dir: column, $wrap: null, $justify: null, $width: null);
	text-align: center;
	align-items: center;
	align-self: center;
}

.social-container {
    @include flexy($disp: flex, $dir: row, $wrap: null, $justify: null, $width: null);
	text-align: center;
	align-items: center;
	align-self: center;	
}

.upload-container,
.profile-container,
.error-container {
	padding: 50px;
}

ul,
.photos-container {
	list-style: none;
}

li.photo {
	padding: 5px;
}

.tags {
	padding-top: 20px;
}

#tagInput {
	visibility: hidden;
	display: none;
}

#lg-fade {
    @include flexy($disp: flex, $dir: null, $wrap: wrap, $justify: null, $width: null);
}

#lg-fade > a {
	padding: 5px;
	min-width: 0; /* flexbox to contain image size */
	max-height: 205px;
	@include flex(1 1 95%);
	overflow: hidden;
	@include mq('s') {
		max-width: 50%;
	}
	@include mq('l') {
		max-width: 33%;		
	}
	@include mq('xl') {
		max-width: 25%;		
	}
}

#lg-fade > a > img {
	max-width: 100%; 
	width: 100%;
	height: auto;
}

.filter-buttons {
    @include flexy($disp: flex, $dir: null, $wrap: null, $justify: center, $width: null);
	text-align: center;
	align-items:center;
	align-self: center;
	margin-top: 20px;
}
